
<div class="main-content">
  <div class="container-fluid">
      <!--<div class="card card-plain">-->
          <!--<div class="card-header card-header-danger">-->
              <!--<h4 class="card-title">Material Design Icons</h4>-->
              <!--<p class="card-category">Handcrafted by our friends from-->
                  <!--<a target="_blank" href="https://design.google.com/icons/">Google</a>-->
              <!--</p>-->
          <!--</div>-->
          <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                  <!--<div class="card-body">-->
                      <!--<div class="iframe-container d-none d-lg-block">-->
                          <!--<iframe src="https://design.google.com/icons/">-->
                              <!--<p>Your browser does not support iframes.</p>-->
                          <!--</iframe>-->
                      <!--</div>-->
                      <!--<div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">-->
                          <!--<h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the-->
                              <!--<a href="https://design.google.com/icons/" target="_blank">Material Icons</a>-->
                          <!--</h5>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->
          <!--<div class="col-lg-3 col-md-6 col-sm-6"  *ngFor="let cards of twitterData">-->
              <!--<div class="card card-stats">-->
                  <!--<div class="card-header card-header-warning card-header-icon">-->
                     <!--<img src="{{cards.url}}" width="100%" height="70%">-->
                  <!--</div>-->
                  <!--<div class="card-footer">-->
                      <!--<div class="stats">-->
                          <!--<i class="material-icons text-danger">warning</i>-->
                          <!--<a href="#pablo">Get More Space...</a>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->



      <div id="columns">
          <figure *ngFor="let cards of twitterData">
              <img src="{{cards.url}}">
              <figcaption>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-left" *ngIf="admin">Approve</button>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="admin">Decline</button>
                  <font></font>
                  <!--<div class="sharethis-inline-share-buttons"></div>-->


                  <!--<div class="fb-share-button" [attr.data-href]="cards.url"-->
                       <!--data-layout="button"></div>-->

                  <!--<a [attr.href]="'https://twitter.com/home?status=' + cards.text" target="_blank">Share on Twitter</a>-->

                   <div style="display: inline-flex; float: right">
                  <div class="fb-share-button" [attr.data-href]="cards.url" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpbs.twimg.com%2Fmedia%2FDf1eFiTUYAAbsrQ.jpg&amp;src=sdkpreparse"
                         class="fb-xfbml-parse-ignore btn btn-danger btn-round" style="background: 	#3b5998!important;">
                          <i class="fa fa-facebook"></i></a></div>

                      <a class="btn btn-danger btn-round" [attr.href]="'https://twitter.com/home?status=' + cards.text" target="_blank" style="background: #1DA1F2!important;"><i class="fa fa-twitter"></i></a></div>

              </figcaption>
          </figure>

      </div>
  </div>
</div>
