<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        loadingText="Loading..."
        type="ball-scale-multiple">
</ngx-spinner>
<div class="main-content">
  <div class="container-fluid">
<div style="margin-bottom: 10px">
      <div class="btn-group" style="margin-top: -25px">
          <button class="btn mat-raised-button" mat-raised-button="" type="button" [ngClass]=" isImages ? 'btn-danger':'btn-white'" (click)="showImages()">
              <span class="mat-button-wrapper">Images</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>
          <button class="btn mat-raised-button" mat-raised-button="" type="button" [ngClass]=" isVideos ? 'btn-danger':'btn-white'" (click)="showVideos()">
              <span class="mat-button-wrapper">Videos</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>
          <button class="btn mat-raised-button" mat-raised-button="" type="button" [ngClass]=" isTweets ? 'btn-danger':'btn-white'" (click)="showTweets()">
              <span class="mat-button-wrapper">Tweets</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
          </button>
      </div>
                <jw-pagination [items]="twitterData" (changePage)="onChangePage($event)" [pageSize]="50" *ngIf="isImages"></jw-pagination>
    <jw-pagination [items]="tweetData" (changePage)="onChangePage($event)" [pageSize]="50" *ngIf="isTweets"></jw-pagination>
    <jw-pagination [items]="youtubeData" (changePage)="onChangePage($event)" [pageSize]="50" *ngIf="isVideos"></jw-pagination>


</div>


      <div id="columns" *ngIf="isImages">

          <figure *ngFor="let cards of pageOfItems">
              <img src="{{cards.url}}">
              <figcaption>
                  images
                  <!--<button mat-raised-button type="submit" class="btn btn-danger pull-left">Approve</button>-->
                  <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right">Decline</button>-->
                  <!--<font>{{user.name}}</font>-->
                  <!--<div class="sharethis-inline-share-buttons"></div>-->


                  <!--<div class="fb-share-button" [attr.data-href]="cards.url"-->
                       <!--data-layout="button"></div>-->

                  <!--<a [attr.href]="'https://twitter.com/home?status=' + cards.text" target="_blank">Share on Twitter</a>-->

                   <div style="display: inline-flex; float: right">
                  <div class="fb-share-button" [attr.data-href]="cards.url" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                      <a target="_blank" [attr.href]="'https://www.facebook.com/sharer/sharer.php?u=' + cards.text +'&picture=' + cards.url + '&amp;src=sdkpreparse'"
                         class="fb-xfbml-parse-ignore btn btn-danger btn-round" style="background: 	#3b5998!important;">
                          <i class="fa fa-facebook"></i></a></div>

                      <a class="btn btn-danger btn-round" [attr.href]="'https://twitter.com/home?status=' + cards.text" target="_blank" style="background: #1DA1F2!important;"><i class="fa fa-twitter"></i></a></div>

              </figcaption>
          </figure>
      </div>

      <div id="columns" *ngIf="isTweets">

          <figure *ngFor="let tweets of pageOfItems">

              <blockquote class="twitter-tweet">
                  <p lang="pt" dir="ltr">{{tweets.text}}</p>&mdash; {{tweets.screenName}}
                  <a [attr.href]="'https://twitter.com/' + tweets.username + '/status/' + tweets.tweetID + '?ref_src=twsrc%5Etfw'">July 16, 2018</a></blockquote>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <figcaption>
                  tweets
                  <!--<button mat-raised-button type="submit" class="btn btn-danger pull-left">Approve</button>-->
                  <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right">Decline</button>-->
                  <!--<font>{{user.name}}</font>-->
                  <!--<div class="sharethis-inline-share-buttons"></div>-->


                  <!--<div class="fb-share-button" [attr.data-href]="cards.url"-->
                  <!--data-layout="button"></div>-->

                  <!--<a [attr.href]="'https://twitter.com/home?status=' + cards.text" target="_blank">Share on Twitter</a>-->

                  <div style="display: inline-flex; float: right">
                      <div class="fb-share-button" [attr.data-href]="'https://twitter.com/' + tweets.username + '/status/' + tweets.tweetID + '?ref_src=twsrc%5Etfw'" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                          <a target="_blank" [attr.href]="'https://www.facebook.com/sharer/sharer.php?u=https://twitter.com/' + tweets.username + '/status/' + tweets.tweetID + '?ref_src=twsrc%5Etfw&amp;src=sdkpreparse'"
                             class="fb-xfbml-parse-ignore btn btn-danger btn-round" style="background: 	#3b5998!important;">
                              <i class="fa fa-facebook"></i></a></div>

                      <a class="btn btn-danger btn-round" [attr.href]="'https://twitter.com/' + tweets.username + '/status/' + tweets.tweetID + '?ref_src=twsrc%5Etfw'" target="_blank" style="background: #1DA1F2!important;"><i class="fa fa-twitter"></i></a></div>

              </figcaption>
          </figure>
      </div>

          <div id="columns" *ngIf="isVideos">

              <figure *ngFor="let videos of pageOfItems">
              <iframe width="350" height="315"
              [src]=sanitizer.bypassSecurityTrustResourceUrl(videos.youtubeURL)>
              </iframe>
              <figcaption>
              <!--<button mat-raised-button type="submit" class="btn btn-danger pull-left">Approve</button>-->
              <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right">Decline</button>-->
              <!--<font>{{user.name}}</font>-->
              <!--<div class="sharethis-inline-share-buttons"></div>-->


              <!--<div class="fb-share-button" [attr.data-href]="cards.url"-->
              <!--data-layout="button"></div>-->

              <!--<a [attr.href]="'https://twitter.com/home?status=' + cards.text" target="_blank">Share on Twitter</a>-->

              <!--<div style="display: inline-flex; float: right">-->
              <!--<div class="fb-share-button" [attr.data-href]="" data-layout="button_count" data-size="small" data-mobile-iframe="true">-->
              <!--<a target="_blank" [attr.href]="''"-->
              <!--class="fb-xfbml-parse-ignore btn btn-danger btn-round" style="background: 	#3b5998!important;">-->
              <!--<i class="fa fa-facebook"></i></a></div>-->

              <!--<a class="btn btn-danger btn-round" [attr.href]="" target="_blank" style="background: #1DA1F2!important;"><i class="fa fa-twitter"></i></a></div>-->

              </figcaption>
              </figure>


      </div>


  </div>
</div>
