<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.janasenaparty.org/" target="_blank">
                        JanaSena</a>
                </li>
                <li>
                    <a href="https://www.janasenaparty.org/about" target="_blank">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://events.janasenaparty.org/#/home" target="_blank">
                        Events
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love towards
            <a href="https://www.janasenaparty.org/" target="_blank">JanaSena</a> for a better Society.
        </div>
    </div>
</footer>
