<div class="main-content">
  <div class="container-fluid">
      <!--<div class="btn-group">-->
          <!--<button class="btn btn-danger mat-raised-button" mat-raised-button="" type="button"><span class="mat-button-wrapper">Last Hour</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>-->
          <!--<button class="btn btn-white mat-raised-button" mat-raised-button="" type="button"><span class="mat-button-wrapper">Last day</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>-->
          <!--<button class="btn btn-white mat-raised-button" mat-raised-button="" type="button"><span class="mat-button-wrapper">Last week</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>-->
          <!--<button class="btn btn-white mat-raised-button" mat-raised-button="" type="button"><span class="mat-button-wrapper">last 2 weeks</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>-->
          <!--<button class="btn btn-white mat-raised-button" mat-raised-button="" type="button"><span class="mat-button-wrapper">last Month</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button>-->
          <!--<button class="btn btn-white mat-raised-button" mat-raised-button="" type="button"><span class="mat-button-wrapper">last Year</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button></div>-->
      <div class="row">


          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Top Topics</h4>
                      <p class="card-category">in Descending Order</p>
                  </div>
                  <div class="card-body table-responsive" style="display: inline-flex">
                      <div class="" *ngFor="let cards of analyticsData.tweets">
                          <div class="card card-stats">
                              <div class="card-header card-header-info card-header-icon" style="padding: 15px">
                                  <!--<div class="card-icon">-->
                                  <!--<i class="fa fa-twitter"></i>-->
                                  <!--</div>-->
                                  <!--<p class="card-category"><a [attr.href]="'https://twitter.com/search?f=tweets&vertical=default&q=' + cards.key +' &lang=en'" target="_blank">{{cards.key}}</a></p>-->
                                  <h3 class="card-title"><a [attr.href]="'https://twitter.com/search?f=tweets&vertical=default&q=' + cards.key +' &lang=en'" target="_blank" style="color: #1da1f2;font-weight: bold">{{cards.key}}</a>
                                      <!--<small>GB</small>-->
                                  </h3>
                              </div>
                              <!--<div class="card-footer">-->
                                  <!--<div class="stats">-->
                                      <!--&lt;!&ndash;<i class="material-icons text-danger">warning</i>&ndash;&gt;-->
                                      <!--&lt;!&ndash;<a href="#pablo">Get More Space...</a>&ndash;&gt;-->
                                  <!--</div>-->
                              <!--</div>-->
                          </div>
                      </div>
                  </div>
              </div>
          </div>



      </div>

      <div class="row">

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Trends</h4>
                      <!--<p class="card-category">as of  15th June, 2018</p>-->
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-danger">
                              <th>Trend</th>
                              <!--<th>Tweet Count</th>-->
                              <th>Trending Location</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let trends of analyticsData.hashTags">
                                  <td><a [attr.href]="'https://twitter.com/search?f=tweets&vertical=default&q=%23' + trends.key +' &lang=en'" target="_blank" style="color: #1da1f2;font-weight: bold">#{{trends.key}}</a></td>
                                  <!--<td><a [attr.href]="'https://twitter.com/search?f=tweets&vertical=default&q=%23' + trends.key +' &lang=en'" target="_blank">{{trends.value}}</a></td>-->
                                  <td>India</td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Top Tweeters</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-danger">
                          <th>Handle</th>
                          <!--<th>Tweets</th>-->
                          <th>Location</th>
                          </thead>
                          <tbody>
                          <tr *ngFor="let tweeters of analyticsData.tweeters">
                              <td><a [attr.href]="'https://twitter.com/'+ tweeters.key" target="_blank" style="color: #1da1f2;font-weight: bold">@{{tweeters.key}}</a></td>
                              <!--<td><a [attr.href]="'https://twitter.com/'+ tweeters.key" target="_blank">{{tweeters.value}}</a></td>-->
                              <td>India</td>
                          </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
